
body {
    overflow: hidden;
    background-image: url('../assets/img/contact/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Tam ekran yapma */
    display: flex; /* merkezi konum için*/
    justify-content: center;
    align-items: center; /* containera ait itemleri topluca ortalamaya yarıyor.*/ 
}

.contact-section {
    margin-top: 45px;
    padding: 40px 100px; /*sag ve sol sonra yukarı ve asagı */
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    text-align: center; /* Iletisim yazisini ortalama */ 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.contact-section h2 {
    font-size: 2em; /* tarayıcı bazlı pikseli çarparak büyütür */
    margin-bottom: 20px;
    color: #ffdd57;
    font-weight: bold;
}


.contact-section form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px; 
    border-radius: 8px;/* köşeleri yuvarlak hale getirir verilen degere göre yuvarlaklasrı*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-section form label {
    display: block; /* bir blok yer kaplama*/ 
    margin-top: 15px; /* yazılar arasındaki bosluk*/
    font-weight: bold;
    color: #ffdd57;
    text-align: left; /* en sola yaslama */
}

.contact-section form input,
.contact-section form textarea {
    width: 100%; /*text area boyutu */
    padding: 10px 100px 10px 5px; /* Yaılzcak yazının başlangıç konumu */
    margin-top: 8px;
    border: 1px solid #ffdd57;
    border-radius: 4px;
    font-size: 1em; 
    background-color: #333;
    transition: border-color 0.3s ease;
    color: white;
}


textarea /* Mesaj kısmında barın bug durumu icin */
{
 max-width: 100%;
 resize: vertical;
 min-height: 100px;
 max-height: 150px;
}

.contact-section form button {
    background-color: #ffdd57;
    color: #333;
    cursor: pointer;
    border: none; /* cizgi seklinde olan kenarliklari kapatmak icin*/ 
    padding: 12px; /* butonun sag*/
    width: 100%; /* butonun sag ile ust genislik*/
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.contact-section form button:hover {
    border: none;
    background-color: #333;
    color: #ffdd57;
}

#error-message-name
{
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    font-size: 1.0em;
    display: none;
    background-color: rgba(255, 255, 255, 0.115);
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    z-index: 20;
    position: fixed;
}
#error-message-email
{
    margin-top: 13px;
    color: rgb(255, 255, 255);
    font-size: 1.0em;
    display: none;
    background-color: rgba(255, 255, 255, 0.115);
    text-align: center;
    border-radius: 15px;
    padding: 8px;
    z-index: 20;
    position: fixed;
}
#error-message-message
{
    margin-top: 15%;
    color: rgb(255, 255, 255);
    font-size: 1.0em;
    display: none;
    background-color: rgba(255, 255, 255, 0.115);
    text-align: center;
    border-radius: 5px;
    padding: 9px;
    z-index: 20;
    position: fixed;
}
@media (max-width: 768px) {

    #error-message-name
    {
        margin-bottom: 35%;
    }

    #error-message-message
    {
        margin-top: 50%;
    }

    .contact-section {
        padding: 30px 15px;
        max-width: 90%;
    }
    .contact-section h2 {
        font-size: 1.8em;
    }
    .contact-section form {
        padding: 20px;
    }
    .contact-section form input,
    .contact-section form textarea {
        padding: 10px;
    }
}